extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Image resize
            -if(error)
                div#error.alert-danger #{error}
            -else
                div#success.alert-success #{message}

        form(method='POST' action='/image-resize', enctype="multipart/form-data")
          div.form-group
            label(for='path') Path:*
            input#path.form-control(type='file', name='path', accept='image/jpeg,image/gif,image/png,image/webp')
          div.form-group
            label(for='width') Width:*
            input#width.form-control(type='number', required, min=1, value=1, placeholder=1 name='width')
          div.form-group
            label(for='height') Height:*
            input#height.form-control(type='number', required, min=1, value=1, placeholder=1 name='height')
          div.form-group
            label(for='method') Method:*
            select#method.form-control(name='method')
              option( selected='selected') Crop
              option() Fill
              option() ScaleWidth
              option() ScaleHeight
              option() Fit
          div.form-group
            label(for='format') Format:
            select#format.form-control(name='format')
              option()
              option() png
              option() jpg
              option() webp
          button.btn.btn-primary(type='submit') Submit